@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #252525;
}
html{
    scroll-behavior: smooth;
}
.container-header{
    background: #3b141c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
   
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.container-header header .logo a{
   font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 8px;
    transition: .5s;
    text-decoration: none;
    border-radius: 15px;
}
.container-header header nav ul li i{
 color: #fff;
 cursor: pointer;
 transition: .2s;
}
.container-header header nav ul li i:hover{
    color: #f3961c;
}
.container-header header nav ul li a:hover{
    background: #f3961c;
    color: #3b141c;
}
/*Menu*/
.container-section{
    margin-top: 6%;
}
.container-section h1{
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
}
.linea {
    background: #f3961c;
   border: none;
   width: 100px;
   height: 5px;
   display: flex;
   margin: 0 46.7%;
   border-radius: 50px;

}
.container-img{
    display:grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 0px;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}
.container-img .img{
    padding: 20px;
    margin-bottom: 100px;
    margin: 60px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: linear-gradient(to right,#3b141c, #7a3c48);
    background-size:250%;
    border-radius: 20px;

}
.container-img .img img{
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
   

}
.container-img .img h2{
    font-family: sans-serif;
    color: #fff;
}
.container-img .img .botones button{
    font-family: sans-serif;
    background: #f3961c;
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}
.container-img .img p{
    justify-content: end;
    font-family: sans-serif;
    color: #fff;
   
}
.container-img .img .botones button:hover{
    transform: scale(1.1);
}
@media (max-width: 768px){
    /*nav*/


    /*menu*/
    .container-section h1{
        margin-top: 8%;
        text-align: center;
    }
    .linea{
        margin: auto;
    }

    .container-section{
       margin: auto;
    }
    .container-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container-img .img img{
        width: 100px;
        height: 100px;

    }
    .container-img h2{
        font-size: 30px;
    }
    .container-img p{
        font-size: 16px;
    }
    .container-img .img{
        width: 200px;
        height: 400px;
        margin: 50px auto;
       
    }
}
/*Hamburguesa*/
#menu-toggle{
    display: none;
}
.menu-icon{
display: none;
}
@media (max-width:768px){
    #menu-toggle{
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 28px;
        cursor:pointer;
        color: #ffffff;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 300;
    }
    /*menu oculto*/
    .container-header header .nav ul{
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.752);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px 0;
        border-radius: 6px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.695);
        z-index: 250;
    }
    /*Mostrar menu al activar*/
    #menu-toggle:checked ~ .nav ul{
        display: flex;
    }
    .container-header header .nav ul li{
        margin: 5px 0;
    }
    .container-header header .nav ul li a{
        color: #fff;
        padding: 10px 15px;
        display: block;
        text-align: left;
    }
}